.my-page-wrapper {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  min-height: 80vh;
}

.my-page-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 10vw;
  min-height: 80vh;
}

.user-name-wrapper {
  display: flex;
  justify-content: space-between;
}

.my-page-font {
  font-size: 25px;
  color: gray;
}

.my-page-user-name {
  font-size: 25px;
  color: #13bac0;
}

.email-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.order-history-wrapper {
  margin-top: 30px;
}

.order-history {
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 20px;
  color: gray;
  border-bottom: 1px solid lightgray;
}

.order-mentor {
  width: 33%;

}

.order-mentor a{
  text-decoration: none;
  color: #13bac0;
}

.order-price {
  width: 33%;
  text-align: center;
}

.order-created {
  width: 33%;
  text-align: right;
}